#holder {
  text-align: center;
}

.inner {
  width: 100vw;
  margin-bottom: 50px;
}

.embed {
  width: 75vw;
  height: 700px;
}

#title-div {
  text-align: center;
}

#title {
  font-family: 'Caudex', serif;
}

/* font-family: 'Caudex', serif;
font-family: 'Euphoria Script', cursive;
font-family: 'Josefin Slab', serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Yantramanav', sans-serif;
font-family: 'Calibri, sans-serif'; */
